@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Press+Start+2P&display=swap');
body, html{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

h1{
	font-weight: 800;
	font-size: 40px;
}

h2{
	font-weight: 800;
	font-size: 40px;
}

h3{
	font-weight: bold;
	font-size: 30px;
}

h4{
	font-weight: bold;
	font-size: 20px;
}

p{
	font-weight: bold;
	font-size: 30px;
	margin: 30px 0;
}

.wrapper{
	width: 960px;
	margin: 0px 80px 0px 220px;

}

.more-info .wrapper{
	margin: 0px 80px 0px 470px;

}

.history .wrapper{
	width: 1200px;
	margin: 0px 80px 0px 260px;

}

.hero-banner{
	background-color: #6c5792;
	min-height: 100vh;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h1{
	color:white;
	margin: 14px 0 20px;
}

.hero-banner h3{
	color:white;
	margin: 0 0 35px;
}
.hero-banner h4,
.hero-banner h4 a{
	color:white;
	margin: 0;
}

.Empress_Elisabeth_of_Austria_with_diamond_stars_on_her_hair{
	background: url(img/Empress_Elisabeth_of_Austria_with_diamond_stars_on_her_hair.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 385px;
	height: 625px;
	position: absolute; top: 10%; right: 220px;
	transform: rotate(15deg);
}

.Queen_Alexandra_when_Princess_of_Wales{
	background: url(img/Queen_Alexandra_when_Princess_of_Wales.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 302px;
	height: 500px;
	position: absolute; top: 6%; right: 31%;
}

.Franz_Xaver_Winterhalter_Portrait_of_Madame_Barbe_de_Rimsky-Korsakov{
	background: url(img/Franz_Xaver_Winterhalter_Portrait_of_Madame_Barbe_de_Rimsky-Korsakov.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 333px;
	height: 500px;
	position: absolute; top: 44%; right: 23%;
}



a.cta,
button.cta{
	font-size: 30px;
	font-weight: bold;
	color:white;
	background: #6c5792;
	display: inline-block;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
}

a.cta:active,
button.cta:active{
opacity: 0.7;
}

a.cta.alt,
button.cta.alt{
	background-color: #7a9865;
	color: white;
	margin-top: 50px;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, .15);
}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
	z-index: 1;
}
	

nav .logo{
	display: block;
	width: 307px;
	height: 40px;
	position: absolute; top:45%; left: 0;
	margin-top: -20px;
	margin-left: 30px;
	background: url(img/logo.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
	text-indent: -999px;
}

nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding: 35px 10px;
	line-height: 30px;
}

.more-info{
	text-align: center;
}

.more-info p{
	margin: 18px 0 35px;
}

.more-info h2{
	margin: 50px 0 0;
}

.highlight{
	background-color: #7a9865;
	color: white;
	padding: 5px 10px;
	line-height: 50px;
	display: inline;
	font-weight: 800;
}


.sep{
	width: 470PX;
	height: 10PX;
	background-color: black;
	margin: 100PX auto;
}

.history h3{
	font-size: 40px;
	font-weight: 800;
}

.history p{
	margin: 30px 0 0 200px;
}

.nb-list{
	width: 470px ;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	background-color: #EDEDED;
	float: left;
	margin: 0 20px 20px 200px;
	position: relative;
}

.nb-list li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding: 6px 20px;
	box-sizing: border-box;
}

.nb-list li.red{background-color: darkred;}
.nb-list li.blue{background-color: skyblue;}
.nb-list li.gray{background-color: lightgray;}
.nb-list li.yellow{
	background-color: lightyellow;
	color: #111111;
}
.nb-list li.pink{background-color: hotpink;}
.nb-list li.salmon{background-color: salmon;}

.nb-list li.dragging{
	position: absolute;
	top: 90px;
	left: 70px;
	right: -30px;
	transform: rotate(6deg) ;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}

.nb-list li.dragging:after{
	content:'';
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(img/hand.jpg) no-repeat 0 0;
	background-size: 100%;
	bottom: -27px;
	left: 66%;
}


.Empress-Eugenie{
	display: block;
	margin: 0 auto;
}

footer{
	text-align: center;
	color: rgba(0, 0, 0, .4);
	font-size: 20px;
	margin: 55px 0 55px;
	font-weight: bold;
}

footer a{
	color: rgba(0, 0, 0, .4);
}

.popup{
	display: none;
}

/*
	<div class="sep">
	</div>
	<div class="history" id="history">
		<ul class="nb-list">
			<li class="blue">Early years</li>
			<li class="gray">&nbsp;</li>
			<li class="yellow dragging">Court painter</li>
			<li class="red">Last years</li>
			<li class="pink">Style</li>
			<li class="salmon">Selected artworks</li>
			<li class="blue">Notes</li>
			<li class="yellow">References</li>
		</ul>
		<h3>Left: Things We Find Important<br/>
		Below: His Story</h3>
		<p>Franz Xaver Winterhalter was born in the small village of Menzenschwand (now part of Sankt Blasien), in Germany's Black Forest in the Electorate of Baden, on 20 April 1805.</p>
		<p>He was the sixth child of Fidel Winterhalter (1773–1863), a farmer and resin producer in the village, and his wife Eva Meyer (1765–1838), a member of a long established Menzenschwand family.</p>
		<p>His father was of peasant stock and was a powerful influence in his life. Of the eight brothers and sisters, only four survived infancy.</p>
		<p>Throughout his life Franz Xaver remained very close to his family, in particular to his brother Hermann (1808–1891), who was also a painter.</p>
	</div>


	<div class="sep">	
	</div>
	<img src="img/The_Empress_Eugenie_Surrounded_by_her_Ladies_in_Waiting.jpg" width="1280" height="888" alt="Empress Eugenie">
	<footer>
		Made by Michelle from <a href="https://michellezzm7.github.io/cartoon-hero/"> Galaxy</a>
	</footer>
	<div class="popup">
		<div class="blanket"></div>
		<div class="content"></div>
			<h2>Fill in Your Details</h2>
			<form action="">
				<div class="item">
					<label>Your First Name</label>
					<input type="text" placeholder="Awesomeface" value="Michelle">
				</div>
				<div class="item">
					<label>Your Last Name</label>
					<input type="text" placeholder="Circleface">
				</div>
				<div class="item">
					<label>Your Favorite Color</label>
					<input type="text" placeholder="Pink">
				</div>
				<div class="item">
					<label>Your Your Favorite Food</label>
					<input type="text" placeholder="Apple Pie">
				</div>
				<button class="cta">I Want In!</button>
			</form>
			<button class="close">Close</button>
	</div>
*/


